/* line 2, ../scss/style.scss */
.intro-section {
  text-align: center;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/* line 11, ../scss/style.scss */
.content-section {
  --scroll-length: 1.8;
  height: calc( var(--scroll-length) * 100vh );
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }
  /* line 17, ../scss/style.scss */
  .content-section .content .subheading,
  .content-section .content .paragraph {
    opacity: 1;
    opacity: calc( 1 + var(--viewport-y) ); }

/* line 25, ../scss/style.scss */
.figure {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0; }
  /* line 33, ../scss/style.scss */
  .figure > img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center center; }

/* line 43, ../scss/style.scss */
.content {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 45em;
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: white;
  padding: 2em;
  font-size: 3vmin; }
  /* line 56, ../scss/style.scss */
  .content * {
    text-shadow: 0 0 4vmin rgba(0, 0, 0, 0.25); }
  /* line 60, ../scss/style.scss */
  .content > .header {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  /* line 67, ../scss/style.scss */
  .content > .paragraph {
    grid-row: 2 / 3;
    line-height: 1.5; }

/* line 73, ../scss/style.scss */
.heading {
  font-size: 2.75em;
  margin: 0; }

/* line 78, ../scss/style.scss */
.subheading {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: .5em; }

/* ---------------------------------- */
/* line 86, ../scss/style.scss */
.figure {
  --scale: calc(.8 + (.2 * var(--scroll-length) * var(--visible-y)));
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  display: block;
  overflow: hidden;
  will-change: transform;
  transform: scale(var(--scale)); }
  /* line 97, ../scss/style.scss */
  .figure:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: calc( var(--visible-y) ); }
  /* line 109, ../scss/style.scss */
  .figure > img {
    display: block;
    will-change: transform;
    transform: scale(calc(1.3 / var(--scale))); }

/* ---------------------------------- */
/* line 118, ../scss/style.scss */
.char {
  display: inline-block;
  opacity: calc(  1 + (  ( var(--viewport-y) * 1.5 ) - var(--char-percent) ) ); }

/* line 129, ../scss/style.scss */
*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box; }

/* line 136, ../scss/style.scss */
.heading,
.intro-heading {
  font-weight: 700; }

/* line 141, ../scss/style.scss */
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.05;
  font-weight: 400;
  letter-spacing: -.015em;
  font-family: "SF Pro Display","Helvetica Neue","Helvetica","Arial",sans-serif; }

/*# sourceMappingURL=style.css.map */
